## Calculating Portfolio Risk

Calculate the risk of an equally weighted portfolio composed of Microsoft and Apple. The data can be obtained from *MSFT_AAPL_2000_2017.csv*.

*Hint: The code we went through in the lecture is what you need here. You will need to import the data first. The previous lessons could be a good reference point for that! :) *

In [2]:
import numpy as np
import pandas as pd
import pandas_datareader.data as pdr
import yfinance as yf
import matplotlib.pyplot as plt

yf.pdr_override()

## MSFT

In [3]:
sec_data = pd.read_csv('MSFT_AAPL_2000_2017.csv', index_col='Date')

In [4]:
sec_data.head()

         Date       MSFT      AAPL
0  1999-12-31  38.965767  3.303425
1  2000-01-03  38.903194  3.596616
2  2000-01-04  37.589046  3.293384
3  2000-01-05  37.985374  3.341579
4  2000-01-06  36.712940  3.052405

In [5]:
sec_data.tail()

            Date       MSFT        AAPL
4329  2017-03-17  64.158463  138.869217
4330  2017-03-20  64.217804  140.327454
4331  2017-03-21  63.505699  138.720413
4332  2017-03-22  64.316704  140.287766
4333  2017-03-23  64.158463  139.791763

## Apple

***

## Covariance and Correlation


\begin{eqnarray*}
Covariance Matrix: \  \   
\Sigma = \begin{bmatrix}
        \sigma_{1}^2 \ \sigma_{12} \ \dots \ \sigma_{1I} \\
        \sigma_{21} \ \sigma_{2}^2 \ \dots \ \sigma_{2I} \\
        \vdots \ \vdots \ \ddots \ \vdots \\
        \sigma_{I1} \ \sigma_{I2} \ \dots \ \sigma_{I}^2
    \end{bmatrix}
\end{eqnarray*}

*****

Covariance matrix:

***

Correlation matrix:

## Calculating Portfolio Risk

Equal weigthing scheme:

Portfolio Variance:

Portfolio Volatility: