## Calculando o Rtisco de um Portfólio

In [3]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb

import matplotlib.pyplot as plt

In [4]:
sec_data = pd.read_csv('MSFT_AAPL_2000_2017.csv', index_col='Date')

In [5]:
sec_data.head()

                 MSFT      AAPL
Date
1999-12-31  38.965767  3.303425
2000-01-03  38.903194  3.596616
2000-01-04  37.589046  3.293384
2000-01-05  37.985374  3.341579
2000-01-06  36.712940  3.052405

In [6]:
sec_returns = np.log(sec_data / sec_data.shift(1))

In [8]:
sec_returns

                MSFT      AAPL
Date
1999-12-31       NaN       NaN
2000-01-03 -0.001607  0.085034
2000-01-04 -0.034364 -0.088078
2000-01-05  0.010489  0.014528
2000-01-06 -0.034072 -0.090514
...              ...       ...
2017-03-17  0.003552 -0.004988
2017-03-20  0.000924  0.010446
2017-03-21 -0.011151 -0.011518
2017-03-22  0.012690  0.011235
2017-03-23 -0.002463 -0.003542

[4334 rows x 2 columns]

In [9]:
weights = np.array([0.5, 0.5])

In [10]:
weights[0]

0.5

Variação do portfolio

In [7]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))
pfolio_var

0.09961622870546066

volatilidade do portfolio

In [12]:
pfolio_vol = (np.dot(weights.T, np.dot(sec_returns.cov() * 250,weights))) **0.5
pfolio_vol

0.31562038702444534

diversificacao do risco

In [ ]:
PG_var_a =

In [1]:
import random

In [2]:
n_para_escolher = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26]

random.shuffle(n_para_escolher)
print('Resultado: ', sorted(n_para_escolher[0:15]))

Resultado:  [1, 3, 4, 5, 6, 10, 11, 13, 15, 17, 19, 21, 23, 24, 25]