## Calculando o Rtisco de um Portfólio

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [2]:
sec_data = pd.read_csv('MSFT_AAPL_2000_2017.csv', index_col='Date')

In [3]:
sec_data.head()

                 MSFT      AAPL
Date
1999-12-31  38.965767  3.303425
2000-01-03  38.903194  3.596616
2000-01-04  37.589046  3.293384
2000-01-05  37.985374  3.341579
2000-01-06  36.712940  3.052405

In [4]:
sec_returns = np.log(sec_data / sec_data.shift(1))

In [5]:
weights = np.array([0.5, 0.5])

In [6]:
weights[0]

0.5

Variação do portfolio

In [7]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))
pfolio_var

0.09961622870546066

volatilidade do portfolio

In [ ]:
#pfolio_vol =

diversificacao do risco

In [ ]:
PG_var_a =