## Calculating Covariance and Correlation

Consider a portfolio composed of *Walmart* and *Facebook*. Do you expect the returns of these companies to show high or low covariance? Or, could you guess what the correlation would be? Will it be closer to 0 or closer to 1?

Begin by extracting data for Walmart and Facebook from the 1st of January 2014 until today.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas_datareader import data as wb
import yfinance as yf

yf.pdr_override()

In [14]:
tickers = ['WMT', 'META']

sec_data = pd.DataFrame()



for t in tickers:

    sec_data[t] = wb.get_data_yahoo(t, start='2007-1-1', progress=False)['Adj Close'];

sec_data

                  WMT        META
Date
2007-01-03  10.921635         NaN
2007-01-04  10.974466         NaN
2007-01-05  10.884890         NaN
2007-01-08  10.795305         NaN
2007-01-09  10.884890         NaN
...               ...         ...
2024-03-12  61.201561  499.750000
2024-03-13  61.071999  495.570007
2024-03-14  61.020000  491.829987
2024-03-15  60.680000  484.100006
2024-03-18  60.860001  496.980011

[4331 rows x 2 columns]

Repeat the process we went through in the lecture for these two stocks. How would you explain the difference between their means and their standard deviations?

In [15]:
sec_data.head()

                  WMT  META
Date
2007-01-03  10.921635   NaN
2007-01-04  10.974466   NaN
2007-01-05  10.884890   NaN
2007-01-08  10.795305   NaN
2007-01-09  10.884890   NaN

In [18]:
sec_data.tail()

                  WMT        META
Date
2024-03-12  61.201561  499.750000
2024-03-13  61.071999  495.570007
2024-03-14  61.020000  491.829987
2024-03-15  60.680000  484.100006
2024-03-18  60.860001  496.980011

In [19]:
returns = np.log(sec_data / sec_data.shift(1))
returns

                 WMT      META
Date
2007-01-03       NaN       NaN
2007-01-04  0.004826       NaN
2007-01-05 -0.008196       NaN
2007-01-08 -0.008264       NaN
2007-01-09  0.008264       NaN
...              ...       ...
2024-03-12  0.012288  0.032871
2024-03-13 -0.002119 -0.008399
2024-03-14 -0.000852 -0.007576
2024-03-15 -0.005588 -0.015842
2024-03-18  0.002962  0.026258

[4331 rows x 2 columns]

In [21]:
returns[['WMT', 'META']].mean() * 250

WMT     0.099182
META    0.215629
dtype: float64

In [22]:
returns[['WMT', 'META']].std() * 250 * 0.5

WMT     1.616959
META    3.181640
dtype: float64

***

## Covariance and Correlation


\begin{eqnarray*}
Covariance Matrix: \  \   
\Sigma = \begin{bmatrix}
        \sigma_{1}^2 \ \sigma_{12} \ \dots \ \sigma_{1I} \\
        \sigma_{21} \ \sigma_{2}^2 \ \dots \ \sigma_{2I} \\
        \vdots \ \vdots \ \ddots \ \vdots \\
        \sigma_{I1} \ \sigma_{I2} \ \dots \ \sigma_{I}^2
    \end{bmatrix}
\end{eqnarray*}

Covariance matrix:

In [23]:
cov_matrix = returns.cov()
cov_matrix

           WMT      META
WMT   0.000167  0.000052
META  0.000052  0.000648

In [26]:
cov_matrix_a = returns.cov() * 250 
cov_matrix_a

           WMT      META
WMT   0.041833  0.013062
META  0.013062  0.161965

Correlation matrix:

Would you consider investing in such a portfolio?