## Calculating Covariance and Correlation

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Consider a portfolio composed of *Walmart* and *Facebook*. Do you expect the returns of these companies to show high or low covariance? Or, could you guess what the correlation would be? Will it be closer to 0 or closer to 1?

Begin by extracting data for Walmart and Facebook from the 1st of January 2014 until today.

In [5]:
import numpy as np
import pandas as pd
import pandas_datareader.data as wb

In [4]:
! pip install pandas_datareader

Requirement already satisfied: pandas_datareader in c:\users\risonaldo\appdata\local\programs\python\python312\lib\site-packages (0.10.0)
Requirement already satisfied: lxml in c:\users\risonaldo\appdata\local\programs\python\python312\lib\site-packages (from pandas_datareader) (5.1.0)
Requirement already satisfied: pandas>=0.23 in c:\users\risonaldo\appdata\local\programs\python\python312\lib\site-packages (from pandas_datareader) (2.1.4)
Requirement already satisfied: requests>=2.19.0 in c:\users\risonaldo\appdata\local\programs\python\python312\lib\site-packages (from pandas_datareader) (2.31.0)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\risonaldo\appdata\local\programs\python\python312\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\risonaldo\appdata\roaming\python\python312\site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\risonaldo\appdata\local\programs\python\python312\lib\site-packages (from pandas>=0.23->pandas_datareader) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\risonaldo\appdata\local\programs\python\python312\lib\site-packages (from pandas>=0.23->pandas_datareader) (2023.4)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\risonaldo\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\risonaldo\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\risonaldo\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\risonaldo\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2023.11.17)
Requirement already satisfied: six>=1.5 in c:\users\risonaldo\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas>=0.23->pandas_datareader) (1.16.0)

In [6]:
import pandas_datareader.data as wb

In [9]:
import pandas_datareader.data as web
import pandas as pd

import yfinance as yf
yf.pdr_override()

tickers = ['WMT', 'META']
sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = yf.download(t, start='2014-01-01')['Adj Close']

print(sec_data.head())

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

                  WMT       META
Date
2014-01-02  21.187391  54.652012
2014-01-03  21.117580  54.502174
2014-01-06  20.999441  57.139374
2014-01-07  21.063885  57.858608
2014-01-08  20.897408  58.168282

In [3]:
sec_data.head()

                  WMT         FB
Date
2014-01-02  69.306335  54.709999
2014-01-03  69.077980  54.560001
2014-01-06  68.691544  57.200001
2014-01-07  68.902321  57.919998
2014-01-08  68.357780  58.230000

In [10]:
returns = np.log(sec_data / sec_data.shift(1))
returns

                 WMT      META
Date
2014-01-02       NaN       NaN
2014-01-03 -0.003300 -0.002745
2014-01-06 -0.005610  0.047253
2014-01-07  0.003064  0.012509
2014-01-08 -0.007935  0.005338
...              ...       ...
2024-03-14 -0.000852 -0.007576
2024-03-15 -0.005588 -0.015842
2024-03-18  0.002962  0.026258
2024-03-19  0.000164 -0.001490
2024-03-20  0.006223  0.018528

[2571 rows x 2 columns]

Repeat the process we went through in the lecture for these two stocks. How would you explain the difference between their means and their standard deviations?

In [12]:
returns[['WMT', 'META']].mean() * 250

WMT     0.103264
META    0.216401
dtype: float64

In [13]:
returns[['WMT', 'META']].std() * 250 ** 0.5

WMT     0.205920
META    0.379387
dtype: float64

***

## Covariance and Correlation


\begin{eqnarray*}
Covariance Matrix: \  \   
\Sigma = \begin{bmatrix}
        \sigma_{1}^2 \ \sigma_{12} \ \dots \ \sigma_{1I} \\
        \sigma_{21} \ \sigma_{2}^2 \ \dots \ \sigma_{2I} \\
        \vdots \ \vdots \ \ddots \ \vdots \\
        \sigma_{I1} \ \sigma_{I2} \ \dots \ \sigma_{I}^2
    \end{bmatrix}
\end{eqnarray*}

***

In [14]:
cov_matrix = returns.cov()
cov_matrix

           WMT      META
WMT   0.000170  0.000062
META  0.000062  0.000576

In [15]:
cov_matrix_a = returns.cov() * 250
cov_matrix_a

           WMT      META
WMT   0.042403  0.015471
META  0.015471  0.143935

***

In [16]:
corr_matrix = returns.corr()
corr_matrix

           WMT      META
WMT   1.000000  0.198039
META  0.198039  1.000000

Would you consider investing in such a portfolio?