In [5]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb

data = pd.read_csv('CAPM_data.csv', index_col = 'Date') 
data

                   PG        ^GSPC
Date
2012-01-03  66.830002  1277.060059
2012-01-04  66.800003  1277.300049
2012-01-05  66.519997  1281.060059
2012-01-06  66.360001  1277.810059
2012-01-09  66.639999  1280.699951
...               ...          ...
2016-12-23  84.959999  2263.790039
2016-12-27  84.599998  2268.879883
2016-12-28  84.070000  2249.919922
2016-12-29  84.349998  2249.260010
2016-12-30  84.080002  2238.830078

[1258 rows x 2 columns]

In [7]:
sec_returns = np.log( data / data.shift(1) )

In [8]:
cov = sec_returns.cov() * 250
cov

             PG     ^GSPC
PG     0.020843  0.010025
^GSPC  0.010025  0.016361

In [10]:
cov_with_market = cov.iloc[0,1]
cov_with_market

0.010025480950656807

In [11]:
market_var = sec_returns['^GSPC'].var() * 250
market_var

0.01636059269926906

** Beta: **
### $$ 
\beta_{pg} = \frac{\sigma_{pg,m}}{\sigma_{m}^2}
$$

In [12]:
PG_beta = cov_with_market / market_var
PG_beta

0.6127822588667411