## Importing and Organizing Your Data in Python - Part IV

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Import the 'example 01' file you created in the previous lecture and set the 'Date' column as an index of that table. 
Remember that there are two possible answers to this question.

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('example_01.csv', index_col='Date')

In [3]:
data

                Value
Date
1947-01-01    243.164
1947-04-01    245.968
1947-07-01    249.585
1947-10-01    259.745
1948-01-01    265.742
...               ...
2020-10-01  21477.597
2021-01-01  22038.226
2021-04-01  22740.959
2021-07-01  23202.344
2021-10-01  23992.355

[300 rows x 1 columns]

In [4]:
data = pd.read_csv('example_01.csv')

In [5]:
data = data.set_index('Date')
data

                Value
Date
1947-01-01    243.164
1947-04-01    245.968
1947-07-01    249.585
1947-10-01    259.745
1948-01-01    265.742
...               ...
2020-10-01  21477.597
2021-01-01  22038.226
2021-04-01  22740.959
2021-07-01  23202.344
2021-10-01  23992.355

[300 rows x 1 columns]