## MEU PORTFOLIO DE AÇÕES

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

yf.pdr_override()

In [3]:
portfolio = ['ITSA4.SA', 'TAEE4.SA', 'BBAS3.SA', 'TRPL4.SA',
             'ABCB4.SA', 'RAIZ4.SA', 'ALUP11.SA', 'KLBN3.SA']

data_portfolio = yf.download(
    portfolio, start='2023-01-01', end='2024-01-01')['Adj Close']

[*********************100%%**********************]  8 of 8 completed

In [4]:
yf.download(portfolio, start='2023-01-01', end='2024-01-01', group_by='Ticker')

[*********************100%%**********************]  8 of 8 completed

Ticker     KLBN3.SA                                       BBAS3.SA             \
Price          Open  High   Low Close Adj Close  Volume       Open       High
Date
2023-01-02     3.99  4.03  3.91  4.03  3.747851  258600  34.220001  34.220001
2023-01-03     4.03  4.10  3.96  4.05  3.766450  432700  33.259998  33.400002
2023-01-04     4.05  4.15  4.03  4.10  3.812950  348500  32.830002  33.259998
2023-01-05     4.10  4.18  4.07  4.11  3.822250  291200  33.290001  34.740002
2023-01-06     4.14  4.14  4.02  4.07  3.785051  296700  34.650002  35.270000
...             ...   ...   ...   ...       ...     ...        ...        ...
2023-12-21     4.35  4.40  4.31  4.39  4.323721  561500  54.799999  54.799999
2023-12-22     4.39  4.43  4.36  4.38  4.344549  620700  54.500000  54.619999
2023-12-26     4.38  4.44  4.38  4.40  4.364387  939000  54.439999  54.959999
2023-12-27     4.40  4.42  4.37  4.41  4.374306  483900  54.799999  54.970001
2023-12-28     4.42  4.45  4.41  4.42  4.384225  236100  54.860001  55.389999

Ticker                            ...  ALUP11.SA                        \
Price             Low      Close  ...        Low      Close  Adj Close
Date                              ...
2023-01-02  32.900002  33.259998  ...  26.153847  26.692307  25.005007
2023-01-03  32.419998  32.639999  ...  26.298077  26.355768  24.689741
2023-01-04  32.560001  33.060001  ...  25.740383  25.826923  24.194326
2023-01-05  33.080002  34.570000  ...  25.750000  26.269230  24.608673
2023-01-06  34.439999  35.049999  ...  25.865383  25.961538  24.320433
...               ...        ...  ...        ...        ...        ...
2023-12-21  53.889999  54.290001  ...  30.309999  30.410000  30.410000
2023-12-22  54.070000  54.439999  ...  30.379999  30.570000  30.570000
2023-12-26  54.299999  54.939999  ...  30.410000  30.670000  30.670000
2023-12-27  54.580002  54.860001  ...  30.480000  30.860001  30.860001
2023-12-28  54.689999  55.389999  ...  30.799999  31.510000  31.510000

Ticker                ITSA4.SA                                             \
Price        Volume       Open       High        Low      Close Adj Close
Date
2023-01-02   550264   8.004242   8.013726   7.833535   7.928372  7.165168
2023-01-03   849368   7.937856   7.975791   7.700763   7.729215  6.985182
2023-01-04   806832   7.786117   7.852503   7.710247   7.795600  7.045177
2023-01-05  1117688   7.833535   7.928372   7.767149   7.909405  7.148026
2023-01-06   798824   7.918889   8.070628   7.918889   8.042177  7.268018
...             ...        ...        ...        ...        ...       ...
2023-12-21   241300  10.060000  10.130000  10.020000  10.100000  9.730434
2023-12-22   334500  10.120000  10.250000  10.100000  10.250000  9.874945
2023-12-26   334400  10.250000  10.290000  10.190000  10.280000  9.903848
2023-12-27   412200  10.250000  10.400000  10.230000  10.360000  9.980920
2023-12-28  1076000  10.360000  10.400000  10.300000  10.370000  9.990554

Ticker
Price         Volume
Date
2023-01-02  16011051
2023-01-03  17995298
2023-01-04  19707815
2023-01-05  28182989
2023-01-06  21406308
...              ...
2023-12-21  12638200
2023-12-22  13166900
2023-12-26  13047500
2023-12-27  19380500
2023-12-28  23414900

[248 rows x 48 columns]

In [5]:
yf.download(portfolio, start='2023-01-01', end='2024-01-01').info()

[*********************100%%**********************]  8 of 8 completed

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 248 entries, 2023-01-02 to 2023-12-28
Data columns (total 48 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   (Adj Close, ABCB4.SA)   248 non-null    float64
 1   (Adj Close, ALUP11.SA)  248 non-null    float64
 2   (Adj Close, BBAS3.SA)   248 non-null    float64
 3   (Adj Close, ITSA4.SA)   248 non-null    float64
 4   (Adj Close, KLBN3.SA)   248 non-null    float64
 5   (Adj Close, RAIZ4.SA)   248 non-null    float64
 6   (Adj Close, TAEE4.SA)   248 non-null    float64
 7   (Adj Close, TRPL4.SA)   248 non-null    float64
 8   (Close, ABCB4.SA)       248 non-null    float64
 9   (Close, ALUP11.SA)      248 non-null    float64
 10  (Close, BBAS3.SA)       248 non-null    float64
 11  (Close, ITSA4.SA)       248 non-null    float64
 12  (Close, KLBN3.SA)       248 non-null    float64
 13  (Close, RAIZ4.SA)       248 non-null    float64
 14  (Close, TAEE4.SA)       248 non-null    float64
 15  (Close, TRPL4.SA)       248 non-null    float64
 16  (High, ABCB4.SA)        248 non-null    float64
 17  (High, ALUP11.SA)       248 non-null    float64
 18  (High, BBAS3.SA)        248 non-null    float64
 19  (High, ITSA4.SA)        248 non-null    float64
 20  (High, KLBN3.SA)        248 non-null    float64
 21  (High, RAIZ4.SA)        248 non-null    float64
 22  (High, TAEE4.SA)        248 non-null    float64
 23  (High, TRPL4.SA)        248 non-null    float64
 24  (Low, ABCB4.SA)         248 non-null    float64
 25  (Low, ALUP11.SA)        248 non-null    float64
 26  (Low, BBAS3.SA)         248 non-null    float64
 27  (Low, ITSA4.SA)         248 non-null    float64
 28  (Low, KLBN3.SA)         248 non-null    float64
 29  (Low, RAIZ4.SA)         248 non-null    float64
 30  (Low, TAEE4.SA)         248 non-null    float64
 31  (Low, TRPL4.SA)         248 non-null    float64
 32  (Open, ABCB4.SA)        248 non-null    float64
 33  (Open, ALUP11.SA)       248 non-null    float64
 34  (Open, BBAS3.SA)        248 non-null    float64
 35  (Open, ITSA4.SA)        248 non-null    float64
 36  (Open, KLBN3.SA)        248 non-null    float64
 37  (Open, RAIZ4.SA)        248 non-null    float64
 38  (Open, TAEE4.SA)        248 non-null    float64
 39  (Open, TRPL4.SA)        248 non-null    float64
 40  (Volume, ABCB4.SA)      248 non-null    int64
 41  (Volume, ALUP11.SA)     248 non-null    int64
 42  (Volume, BBAS3.SA)      248 non-null    int64
 43  (Volume, ITSA4.SA)      248 non-null    int64
 44  (Volume, KLBN3.SA)      248 non-null    int64
 45  (Volume, RAIZ4.SA)      248 non-null    int64
 46  (Volume, TAEE4.SA)      248 non-null    int64
 47  (Volume, TRPL4.SA)      248 non-null    int64
dtypes: float64(40), int64(8)
memory usage: 94.9 KB

In [6]:
bbas = yf.Ticker('BBAS3.SA')

bbas.info

{'address1': 'EdifIcio Banco do Brasil',
 'address2': 'Quadra 5, Lote B Autarquias Norte Federal District',
 'city': 'Brasília',
 'state': 'DF',
 'country': 'Brazil',
 'phone': '55 80 0729 5285',
 'website': 'https://www.bb.com.br',
 'industry': 'Banks - Regional',
 'industryKey': 'banks-regional',
 'industryDisp': 'Banks - Regional',
 'sector': 'Financial Services',
 'sectorKey': 'financial-services',
 'sectorDisp': 'Financial Services',
 'longBusinessSummary': 'Banco do Brasil S.A., together with its subsidiaries, provides banking products and services for individuals, companies, and public sectors in Brazil and internationally. The company operates through Banking; Investments; Resource Management; Insurance, Pension, and Capitalization; Payments Method; and Other segments. The Banking segment offers various products and services, including deposits, credit operations, and other services to retail, wholesale, and government markets, as well as to micro-entrepreneurs and informal sectors. The Investments segment engages in the domestic capital markets, intermediation and distribution of debts and equity instruments in primary and secondary capital markets; and provision of financial services. The Resource Management segment engages in the purchase, sale, and custody of bonds and securities, as well as the portfolio management and administration of funds and investment clubs. The Insurance, Pension, and Capitalization segment provides life, property, and automobile insurance products, as well as supplementary pension and capitalization plans. The Payments Method segment is involved in the capturing, transmission, processing, and financial settlement for electronic transactions. The Other segment engages in the provision of credit recovery and consortium management services; development, manufacturing, sale, rental, and integration of digital electronic equipment and systems, peripherals, programs, inputs, and computing supplies. The company was incorporated in 1808 and is headquartered in Brasília, Brazil.',
 'companyOfficers': [{'maxAge': 1,
   'name': 'Ms. Tarciana Paula Gomes Medeiros',
   'title': 'CEO, Member of Executive Board & Director',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Marco Geovanne Tobias da Silva',
   'title': 'CFO, Investor Relations Officer & Member of Executive Board',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Luiz Gustavo Braz Lage',
   'title': 'Chief Agribusiness Officer & Family Farming Officer and Member of Executive Board',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Carla  Nesi',
   'age': 52,
   'title': 'Chief Retail Business Officer & Member of Executive Board',
   'yearBorn': 1971,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Francisco Augusto Lassalvia Gerson',
   'age': 44,
   'title': 'Chief Wholesale Officer & Member of Executive Board',
   'yearBorn': 1979,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Felipe Guimaraes Geissler Prince',
   'title': 'Chief Internal Controls & Risk Mgmt. Officer and Member of Executive Board',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Ana Cristina Rosa Garcia',
   'title': 'Chief Corporate Officer & Member of Executive Board',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Jose Ricardo Sasseron',
   'title': 'Chief Government Business & Corporate Sustainability Officer and Member of Executive Board',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Marisa Reghini Ferreira Mattos',
   'title': 'Chief Technology & Digital Business Development Officer and Member of Executive Board',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Neudson Peres de Freitas',
   'title': 'Operations Officer',
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 6,
 'boardRisk': 5,
 'compensationRisk': 3,
 'shareHolderRightsRisk': 2,
 'overallRisk': 3,
 'governanceEpochDate': 1709251200,
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 57.74,
 'open': 57.74,
 'dayLow': 57.45,
 'dayHigh': 57.85,
 'regularMarketPreviousClose': 57.74,
 'regularMarketOpen': 57.74,
 'regularMarketDayLow': 57.45,
 'regularMarketDayHigh': 57.85,
 'dividendRate': 1.66,
 'dividendYield': 0.0297,
 'exDividendDate': 1710201600,
 'payoutRatio': 0.2369,
 'fiveYearAvgDividendYield': 3.99,
 'beta': 0.783,
 'trailingPE': 4.3265615,
 'forwardPE': 4.2687454,
 'volume': 244900,
 'regularMarketVolume': 244900,
 'averageVolume': 9118313,
 'averageVolume10days': 7103144,
 'averageDailyVolume10Day': 7103144,
 'bid': 57.51,
 'ask': 57.54,
 'marketCap': 164095213568,
 'fiftyTwoWeekLow': 41.54,
 'fiftyTwoWeekHigh': 59.91,
 'priceToSalesTrailing12Months': 1.5158539,
 'fiftyDayAverage': 57.52,
 'twoHundredDayAverage': 52.1774,
 'trailingAnnualDividendRate': 4.566,
 'trailingAnnualDividendYield': 0.07907862,
 'currency': 'BRL',
 'enterpriseValue': 618520182784,
 'profitMargins': 0.27585,
 'floatShares': 1318872597,
 'sharesOutstanding': 2853829888,
 'heldPercentInsiders': 0.5,
 'heldPercentInstitutions': 0.20188,
 'impliedSharesOutstanding': 2853829888,
 'bookValue': 57.165,
 'priceToBook': 1.0058602,
 'lastFiscalYearEnd': 1703980800,
 'nextFiscalYearEnd': 1735603200,
 'mostRecentQuarter': 1703980800,
 'earningsQuarterlyGrowth': -0.075,
 'netIncomeToCommon': 29860964352,
 'trailingEps': 13.29,
 'forwardEps': 13.47,
 'pegRatio': 1.46,
 'lastSplitFactor': '2:1',
 'lastSplitDate': 1713225600,
 'enterpriseToRevenue': 5.714,
 '52WeekChange': 0.3294958,
 'SandP52WeekChange': 0.2565279,
 'lastDividendValue': 0.410037,
 'lastDividendDate': 1710201600,
 'exchange': 'SAO',
 'quoteType': 'EQUITY',
 'symbol': 'BBAS3.SA',
 'underlyingSymbol': 'BBAS3.SA',
 'shortName': 'BRASIL      ON      NM',
 'longName': 'Banco do Brasil S.A.',
 'firstTradeDateEpochUtc': 946900800,
 'timeZoneFullName': 'America/Sao_Paulo',
 'timeZoneShortName': 'BRT',
 'uuid': 'a7840cde-81bb-30bc-b4bc-a3b2546ff1dc',
 'messageBoardId': 'finmb_874155',
 'gmtOffSetMilliseconds': -10800000,
 'currentPrice': 57.5,
 'targetHighPrice': 90.0,
 'targetLowPrice': 40.0,
 'targetMeanPrice': 69.06,
 'targetMedianPrice': 69.0,
 'recommendationMean': 1.8,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 15,
 'totalCash': 463658942464,
 'totalCashPerShare': 162.472,
 'totalDebt': 918118203392,
 'totalRevenue': 108252659712,
 'revenuePerShare': 37.93,
 'returnOnAssets': 0.01594,
 'returnOnEquity': 0.19678,
 'operatingCashflow': -43939971072,
 'earningsGrowth': -0.076,
 'revenueGrowth': -0.021,
 'operatingMargins': 0.13977,
 'financialCurrency': 'BRL',
 'trailingPegRatio': None}

In [8]:
bbas.splits

Date
2007-06-04 00:00:00-03:00    3.0
Name: Stock Splits, dtype: float64

In [9]:
bbas.actions

                           Dividends  Stock Splits
Date
2007-06-04 00:00:00-03:00   0.000000           3.0
2009-06-23 00:00:00-03:00   0.180221           0.0
2009-08-14 00:00:00-03:00   0.190873           0.0
2009-09-22 00:00:00-03:00   0.185397           0.0
2009-11-13 00:00:00-02:00   0.122897           0.0
...                              ...           ...
2023-09-12 00:00:00-03:00   0.334197           0.0
2023-11-22 00:00:00-03:00   0.101989           0.0
2023-12-12 00:00:00-03:00   0.342306           0.0
2024-02-22 00:00:00-03:00   0.224176           0.0
2024-03-12 00:00:00-03:00   0.410037           0.0

[118 rows x 2 columns]

In [10]:
bbas.info['dividendRate']

1.66

In [11]:
bbas.info['marketCap']

161583841280

In [13]:
bbas.major_holders

Breakdown                         Value
insidersPercentHeld             0.50000
institutionsPercentHeld         0.20188
institutionsFloatPercentHeld    0.40376
institutionsCount             512.00000

In [14]:
bbas.institutional_holders

Empty DataFrame
Columns: []
Index: []

In [7]:
data_portfolio.head()

Ticker,ABCB4.SA,ALUP11.SA,BBAS3.SA,ITSA4.SA,KLBN3.SA,RAIZ4.SA,TAEE4.SA,TRPL4.SA
Date,,,,,,,,
2023-01-02,16.909447,25.005007,30.360826,7.165168,3.747851,3.305155,10.526806,20.867277
2023-01-03,16.236345,24.689741,29.794868,6.985182,3.766450,3.118423,10.309385,20.363457
2023-01-04,16.290920,24.194326,30.178261,7.045177,3.812950,3.099750,10.318443,20.381777
2023-01-05,17.218710,24.608673,31.556637,7.148026,3.822250,3.015720,10.309385,20.253532
2023-01-06,17.264191,24.320433,31.994797,7.268018,3.785051,3.006384,10.735167,20.006203

In [8]:
data_portfolio.tail()

Ticker,ABCB4.SA,ALUP11.SA,BBAS3.SA,ITSA4.SA,KLBN3.SA,RAIZ4.SA,TAEE4.SA,TRPL4.SA
Date,,,,,,,,
2023-12-21,22.891087,30.410000,53.697742,9.730434,4.323721,4.011419,12.275734,25.430000
2023-12-22,22.977720,30.570000,53.846100,9.874945,4.344549,4.180634,12.334705,25.590000
2023-12-26,23.208752,30.670000,54.340649,9.903848,4.364387,4.120911,12.374019,25.559999
2023-12-27,23.478285,30.860001,54.261524,9.980920,4.374306,4.041280,12.413333,26.100000
2023-12-28,24.103987,31.510000,54.785740,9.990554,4.384225,4.011419,12.609901,26.500000

In [9]:
port_retorno = np.log(data_portfolio / data_portfolio.shift(1))

In [10]:
port_retorno

Ticker,ABCB4.SA,ALUP11.SA,BBAS3.SA,ITSA4.SA,KLBN3.SA,RAIZ4.SA,TAEE4.SA,TRPL4.SA
Date,,,,,,,,
2023-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-01-03,-0.040620,-0.012688,-0.018817,-0.025440,0.004950,-0.058156,-0.020870,-0.024440
2023-01-04,0.003356,-0.020270,0.012786,0.008552,0.012270,-0.006006,0.000878,0.000899
2023-01-05,0.055389,0.016981,0.044662,0.014493,0.002436,-0.027483,-0.000878,-0.006312
2023-01-06,0.002638,-0.011782,0.013789,0.016647,-0.009780,-0.003101,0.040470,-0.012287
...,...,...,...,...,...,...,...,...
2023-12-21,0.003370,-0.003938,0.001475,0.007952,0.011455,0.020623,0.003208,0.003940
2023-12-22,0.003777,0.005248,0.002759,0.014742,0.004805,0.041318,0.004792,0.006272
2023-12-26,0.010004,0.003266,0.009143,0.002923,0.004556,-0.014389,0.003182,-0.001173
2023-12-27,0.011547,0.006176,-0.001457,0.007752,0.002270,-0.019513,0.003172,0.020907
2023-12-28,0.026301,0.020844,0.009615,0.000965,0.002265,-0.007417,0.015711,0.015209

# ABCB4

media do retorno

In [11]:
port_retorno['ABCB4.SA'].mean()

0.0014352421403261773

media anual de retorno

In [12]:
port_retorno['ABCB4.SA'].mean() * 250

0.3588105350815443

desvio padrao

In [13]:
port_retorno['ABCB4.SA'].std()

0.017688343671100778

variancia ?????

In [14]:
port_retorno['ABCB4.SA'].std() * 250 ** 0.5

0.27967727018251365

In [23]:
port_retorno[['ITSA4.SA', 'TAEE4.SA', 'BBAS3.SA', 'TRPL4.SA',
              'ABCB4.SA', 'RAIZ4.SA', 'ALUP11.SA', 'KLBN3.SA']].mean() * 250

Ticker
ITSA4.SA     0.336446
TAEE4.SA     0.182750
BBAS3.SA     0.597446
TRPL4.SA     0.241865
ABCB4.SA     0.358811
RAIZ4.SA     0.196014
ALUP11.SA    0.234037
KLBN3.SA     0.158735
dtype: float64

In [24]:
port_retorno[['ITSA4.SA', 'TAEE4.SA', 'BBAS3.SA', 'TRPL4.SA',
              'ABCB4.SA', 'RAIZ4.SA', 'ALUP11.SA', 'KLBN3.SA']].std() * 250 ** 0.5

Ticker
ITSA4.SA     0.211663
TAEE4.SA     0.138553
BBAS3.SA     0.239124
TRPL4.SA     0.206297
ABCB4.SA     0.279677
RAIZ4.SA     0.428101
ALUP11.SA    0.186689
KLBN3.SA     0.243288
dtype: float64

In [25]:
port_retorno_r = port_retorno.sort_index()

covariância e correlação

In [26]:
cov_matrix = port_retorno.cov()
cov_matrix

Ticker,ABCB4.SA,ALUP11.SA,BBAS3.SA,ITSA4.SA,KLBN3.SA,RAIZ4.SA,TAEE4.SA,TRPL4.SA
Ticker,,,,,,,,
ABCB4.SA,0.000313,0.000077,0.000118,0.000126,0.000054,0.000155,0.000041,0.000077
ALUP11.SA,0.000077,0.000139,0.000040,0.000059,0.000021,0.000083,0.000042,0.000076
BBAS3.SA,0.000118,0.000040,0.000229,0.000122,0.000035,0.000098,0.000039,0.000051
ITSA4.SA,0.000126,0.000059,0.000122,0.000179,0.000027,0.000163,0.000048,0.000067
KLBN3.SA,0.000054,0.000021,0.000035,0.000027,0.000237,0.000003,0.000016,0.000026
RAIZ4.SA,0.000155,0.000083,0.000098,0.000163,0.000003,0.000733,0.000059,0.000077
TAEE4.SA,0.000041,0.000042,0.000039,0.000048,0.000016,0.000059,0.000077,0.000043
TRPL4.SA,0.000077,0.000076,0.000051,0.000067,0.000026,0.000077,0.000043,0.000170

anual

In [27]:
cov_matrix_a = port_retorno.cov() * 250
cov_matrix_a

Ticker,ABCB4.SA,ALUP11.SA,BBAS3.SA,ITSA4.SA,KLBN3.SA,RAIZ4.SA,TAEE4.SA,TRPL4.SA
Ticker,,,,,,,,
ABCB4.SA,0.078219,0.019240,0.029613,0.031535,0.013546,0.038782,0.010270,0.019184
ALUP11.SA,0.019240,0.034853,0.010007,0.014643,0.005255,0.020735,0.010446,0.019086
BBAS3.SA,0.029613,0.010007,0.057180,0.030394,0.008750,0.024606,0.009796,0.012820
ITSA4.SA,0.031535,0.014643,0.030394,0.044801,0.006831,0.040670,0.011932,0.016671
KLBN3.SA,0.013546,0.005255,0.008750,0.006831,0.059189,0.000820,0.004054,0.006376
RAIZ4.SA,0.038782,0.020735,0.024606,0.040670,0.000820,0.183270,0.014776,0.019175
TAEE4.SA,0.010270,0.010446,0.009796,0.011932,0.004054,0.014776,0.019197,0.010818
TRPL4.SA,0.019184,0.019086,0.012820,0.016671,0.006376,0.019175,0.010818,0.042558

In [28]:
corr_matrix = port_retorno.corr()
corr_matrix

Ticker,ABCB4.SA,ALUP11.SA,BBAS3.SA,ITSA4.SA,KLBN3.SA,RAIZ4.SA,TAEE4.SA,TRPL4.SA
Ticker,,,,,,,,
ABCB4.SA,1.000000,0.368488,0.442795,0.532703,0.199082,0.323910,0.265030,0.332496
ALUP11.SA,0.368488,1.000000,0.224155,0.370566,0.115696,0.259438,0.403849,0.495557
BBAS3.SA,0.442795,0.224155,1.000000,0.600502,0.150405,0.240368,0.295679,0.259886
ITSA4.SA,0.532703,0.370566,0.600502,1.000000,0.132645,0.448836,0.406852,0.381795
KLBN3.SA,0.199082,0.115696,0.150405,0.132645,1.000000,0.007871,0.120259,0.127030
RAIZ4.SA,0.323910,0.259438,0.240368,0.448836,0.007871,1.000000,0.249108,0.217115
TAEE4.SA,0.265030,0.403849,0.295679,0.406852,0.120259,0.249108,1.000000,0.378467
TRPL4.SA,0.332496,0.495557,0.259886,0.381795,0.127030,0.217115,0.378467,1.000000

calculando o risco do meu portifolio

esquema de ponderação igual (porcentagem dos ativo na carteira)

In [29]:
weights = np.array([0.125, 0.125, 0.125, 0.125, 0.125, 0.125, 0.125, 0.125])

variâcia do portifolio

In [30]:
port_var = np.dot(weights.T, np.dot(port_retorno.cov() * 250, weights))
port_var

0.022514409147048862

volatilidade do portifolio

In [31]:
port_vol = np.dot(weights.T, np.dot(port_retorno.cov() * 250, weights)) ** 0.5
port_vol

0.15004802280286422

In [32]:
print(str(round(port_vol, 4) * 100) + '%')

15.0%

ativos com seus pesos reais no portfolio

In [37]:
weights_r = np.array([10.01, 7.63, 13.37, 27.02, 4.56, 9.41, 15.49, 12.50])

In [38]:
port_var_r = np.dot(weights_r.T, np.dot(port_retorno_r.cov() * 250, weights_r))
port_var_r

239.047430044433

In [39]:
port_vol_r = np.dot(weights_r.T, np.dot(
    port_retorno_r.cov() * 250, weights_r)) ** 0.5

port_vol_r

15.46115875490686

In [40]:
print(str(round(port_vol_r, 4) * 100) + '%')

1546.12%

In [41]:
np.sqrt(port_vol_r)

3.9320679997816494