## MEU PORTFOLIO DE AÇÕES

In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

yf.pdr_override()

In [30]:
portfolio = ['ITSA4.SA', 'TAEE4.SA', 'BBAS3.SA', 'TRPL4.SA', 'ABCB4.SA', 'RAIZ4.SA', 'ALUP11.SA', 'KLBN3.SA']

data_portfolio = yf.download(portfolio, start='2023-01-01', end='2024-01-01')['Adj Close']

[*********************100%%**********************]  8 of 8 completed

In [31]:
yf.download(portfolio, start='2023-01-01', end='2024-01-01', group_by='Ticker')

[*********************100%%**********************]  8 of 8 completed

Ticker     KLBN3.SA                                     RAIZ4.SA              \
Price          Open  High   Low Close Adj Close  Volume     Open  High   Low
Date
2023-01-02     3.99  4.03  3.91  4.03  3.747851  258600     3.69  3.71  3.51
2023-01-03     4.03  4.10  3.96  4.05  3.766451  432700     3.54  3.57  3.33
2023-01-04     4.05  4.15  4.03  4.10  3.812950  348500     3.38  3.42  3.30
2023-01-05     4.10  4.18  4.07  4.11  3.822250  291200     3.35  3.39  3.19
2023-01-06     4.14  4.14  4.02  4.07  3.785051  296700     3.24  3.28  3.17
...             ...   ...   ...   ...       ...     ...      ...   ...   ...
2023-12-21     4.35  4.40  4.31  4.39  4.323721  561500     3.92  4.03  3.88
2023-12-22     4.39  4.43  4.36  4.38  4.344549  620700     4.05  4.22  3.98
2023-12-26     4.38  4.44  4.38  4.40  4.364387  939000     4.20  4.21  4.12
2023-12-27     4.40  4.42  4.37  4.41  4.374306  483900     4.12  4.16  4.03
2023-12-28     4.42  4.45  4.41  4.42  4.384225  236100     4.06  4.07  3.96

Ticker            ...   ABCB4.SA                                  ITSA4.SA  \
Price      Close  ...        Low      Close  Adj Close   Volume       Open
Date              ...
2023-01-02  3.54  ...  18.071104  18.237885  16.909447   519540   8.004242
2023-01-03  3.34  ...  17.443228  17.511902  16.236345   940004   7.937856
2023-01-04  3.32  ...  17.482470  17.570765  16.290920   560516   7.786117
2023-01-05  3.23  ...  17.678680  18.571444  17.218712  1117975   7.833535
2023-01-06  3.22  ...  18.404663  18.620497  17.264191   668767   7.918889
...          ...  ...        ...        ...        ...      ...        ...
2023-12-21  4.03  ...  23.565033  23.594799  22.891087   356375  10.060000
2023-12-22  4.20  ...  23.644409  23.684097  22.977720   349320  10.120000
2023-12-26  4.14  ...  23.813086  23.922230  23.208752   658831  10.250000
2023-12-27  4.06  ...  23.912308  24.200048  23.478285   541013  10.250000
2023-12-28  4.03  ...  24.090904  24.844986  24.103987   699346  10.360000

Ticker
Price            High        Low      Close Adj Close    Volume
Date
2023-01-02   8.013726   7.833535   7.928372  7.165168  16011051
2023-01-03   7.975791   7.700763   7.729215  6.985182  17995298
2023-01-04   7.852503   7.710247   7.795600  7.045177  19707815
2023-01-05   7.928372   7.767149   7.909405  7.148027  28182989
2023-01-06   8.070628   7.918889   8.042177  7.268018  21406308
...               ...        ...        ...       ...       ...
2023-12-21  10.130000  10.020000  10.100000  9.730434  12638200
2023-12-22  10.250000  10.100000  10.250000  9.874945  13166900
2023-12-26  10.290000  10.190000  10.280000  9.903848  13047500
2023-12-27  10.400000  10.230000  10.360000  9.980920  19380500
2023-12-28  10.400000  10.300000  10.370000  9.990554  23414900

[248 rows x 48 columns]

In [12]:
yf.download(portfolio, start='2023-01-01', end='2024-01-01').info()

[*********************100%%**********************]  8 of 8 completed

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 248 entries, 2023-01-02 to 2023-12-28
Data columns (total 48 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   (Adj Close, ABCB4.SA)   248 non-null    float64
 1   (Adj Close, ALUP11.SA)  248 non-null    float64
 2   (Adj Close, BBAS3.SA)   248 non-null    float64
 3   (Adj Close, ITSA4.SA)   248 non-null    float64
 4   (Adj Close, KLBN3.SA)   248 non-null    float64
 5   (Adj Close, RAIZ4.SA)   248 non-null    float64
 6   (Adj Close, TAEE4.SA)   248 non-null    float64
 7   (Adj Close, TRPL4.SA)   248 non-null    float64
 8   (Close, ABCB4.SA)       248 non-null    float64
 9   (Close, ALUP11.SA)      248 non-null    float64
 10  (Close, BBAS3.SA)       248 non-null    float64
 11  (Close, ITSA4.SA)       248 non-null    float64
 12  (Close, KLBN3.SA)       248 non-null    float64
 13  (Close, RAIZ4.SA)       248 non-null    float64
 14  (Close, TAEE4.SA)       248 non-null    float64
 15  (Close, TRPL4.SA)       248 non-null    float64
 16  (High, ABCB4.SA)        248 non-null    float64
 17  (High, ALUP11.SA)       248 non-null    float64
 18  (High, BBAS3.SA)        248 non-null    float64
 19  (High, ITSA4.SA)        248 non-null    float64
 20  (High, KLBN3.SA)        248 non-null    float64
 21  (High, RAIZ4.SA)        248 non-null    float64
 22  (High, TAEE4.SA)        248 non-null    float64
 23  (High, TRPL4.SA)        248 non-null    float64
 24  (Low, ABCB4.SA)         248 non-null    float64
 25  (Low, ALUP11.SA)        248 non-null    float64
 26  (Low, BBAS3.SA)         248 non-null    float64
 27  (Low, ITSA4.SA)         248 non-null    float64
 28  (Low, KLBN3.SA)         248 non-null    float64
 29  (Low, RAIZ4.SA)         248 non-null    float64
 30  (Low, TAEE4.SA)         248 non-null    float64
 31  (Low, TRPL4.SA)         248 non-null    float64
 32  (Open, ABCB4.SA)        248 non-null    float64
 33  (Open, ALUP11.SA)       248 non-null    float64
 34  (Open, BBAS3.SA)        248 non-null    float64
 35  (Open, ITSA4.SA)        248 non-null    float64
 36  (Open, KLBN3.SA)        248 non-null    float64
 37  (Open, RAIZ4.SA)        248 non-null    float64
 38  (Open, TAEE4.SA)        248 non-null    float64
 39  (Open, TRPL4.SA)        248 non-null    float64
 40  (Volume, ABCB4.SA)      248 non-null    int64
 41  (Volume, ALUP11.SA)     248 non-null    int64
 42  (Volume, BBAS3.SA)      248 non-null    int64
 43  (Volume, ITSA4.SA)      248 non-null    int64
 44  (Volume, KLBN3.SA)      248 non-null    int64
 45  (Volume, RAIZ4.SA)      248 non-null    int64
 46  (Volume, TAEE4.SA)      248 non-null    int64
 47  (Volume, TRPL4.SA)      248 non-null    int64
dtypes: float64(40), int64(8)
memory usage: 94.9 KB

In [19]:
bbas = yf.Ticker('BBAS3.SA')

bbas.info

{'address1': 'EdifIcio Banco do Brasil',
 'address2': 'Quadra 5, Lote B Autarquias Norte Federal District',
 'city': 'Brasília',
 'state': 'DF',
 'country': 'Brazil',
 'phone': '55 80 0729 5285',
 'website': 'https://www.bb.com.br',
 'industry': 'Banks - Regional',
 'industryKey': 'banks-regional',
 'industryDisp': 'Banks - Regional',
 'sector': 'Financial Services',
 'sectorKey': 'financial-services',
 'sectorDisp': 'Financial Services',
 'longBusinessSummary': 'Banco do Brasil S.A., together with its subsidiaries, provides banking products and services for individuals, companies, and public sectors in Brazil and internationally. The company operates through Banking; Investments; Resource Management; Insurance, Pension, and Capitalization; Payments Method; and Other segments. The Banking segment offers various products and services, including deposits, credit operations, and other services to retail, wholesale, and government markets, as well as to micro-entrepreneurs and informal sectors. The Investments segment engages in the domestic capital markets, intermediation and distribution of debts and equity instruments in primary and secondary capital markets; and provision of financial services. The Resource Management segment engages in the purchase, sale, and custody of bonds and securities, as well as the portfolio management and administration of funds and investment clubs. The Insurance, Pension, and Capitalization segment provides life, property, and automobile insurance products, as well as supplementary pension and capitalization plans. The Payments Method segment is involved in the capturing, transmission, processing, and financial settlement for electronic transactions. The Other segment engages in the provision of credit recovery and consortium management services; development, manufacturing, sale, rental, and integration of digital electronic equipment and systems, peripherals, programs, inputs, and computing supplies. The company was incorporated in 1808 and is headquartered in Brasília, Brazil.',
 'companyOfficers': [{'maxAge': 1,
   'name': 'Ms. Tarciana Paula Gomes Medeiros',
   'title': 'CEO, Member of Executive Board & Director',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Marco Geovanne Tobias da Silva',
   'title': 'CFO, Investor Relations Officer & Member of Executive Board',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Luiz Gustavo Braz Lage',
   'title': 'Chief Agribusiness Officer & Family Farming Officer and Member of Executive Board',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Carla  Nesi',
   'age': 52,
   'title': 'Chief Retail Business Officer & Member of Executive Board',
   'yearBorn': 1971,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Francisco Augusto Lassalvia Gerson',
   'age': 44,
   'title': 'Chief Wholesale Officer & Member of Executive Board',
   'yearBorn': 1979,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Felipe Guimaraes Geissler Prince',
   'title': 'Chief Internal Controls & Risk Mgmt. Officer and Member of Executive Board',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Ana Cristina Rosa Garcia',
   'title': 'Chief Corporate Officer & Member of Executive Board',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Jose Ricardo Sasseron',
   'title': 'Chief Government Business & Corporate Sustainability Officer and Member of Executive Board',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Marisa Reghini Ferreira Mattos',
   'title': 'Chief Technology & Digital Business Development Officer and Member of Executive Board',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Neudson Peres de Freitas',
   'title': 'Operations Officer',
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 6,
 'boardRisk': 5,
 'compensationRisk': 3,
 'shareHolderRightsRisk': 2,
 'overallRisk': 3,
 'governanceEpochDate': 1709251200,
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 55.64,
 'regularMarketPreviousClose': 55.64,
 'dividendRate': 1.66,
 'dividendYield': 0.03,
 'exDividendDate': 1710201600,
 'payoutRatio': 0.2369,
 'fiveYearAvgDividendYield': 3.99,
 'beta': 0.783,
 'trailingPE': 4.1693,
 'forwardPE': 4.110534,
 'averageVolume': 9015860,
 'averageVolume10days': 10461440,
 'averageDailyVolume10Day': 10461440,
 'bid': 55.34,
 'ask': 55.75,
 'marketCap': 158130716672,
 'fiftyTwoWeekHigh': 59.91,
 'priceToSalesTrailing12Months': 1.460756,
 'fiftyDayAverage': 57.3948,
 'twoHundredDayAverage': 51.72535,
 'trailingAnnualDividendRate': 4.566,
 'trailingAnnualDividendYield': 0.082063265,
 'currency': 'BRL',
 'enterpriseValue': 616922021888,
 'profitMargins': 0.27585,
 'floatShares': 1318872597,
 'sharesOutstanding': 2853829888,
 'heldPercentInsiders': 0.5,
 'heldPercentInstitutions': 0.20316,
 'impliedSharesOutstanding': 2853829888,
 'bookValue': 57.165,
 'priceToBook': 0.9692994,
 'lastFiscalYearEnd': 1703980800,
 'nextFiscalYearEnd': 1735603200,
 'mostRecentQuarter': 1703980800,
 'earningsQuarterlyGrowth': -0.075,
 'netIncomeToCommon': 29860964352,
 'trailingEps': 13.29,
 'forwardEps': 13.48,
 'pegRatio': 1.41,
 'lastSplitFactor': '3:1',
 'lastSplitDate': 1180915200,
 'enterpriseToRevenue': 5.699,
 '52WeekChange': 0.4732784,
 'SandP52WeekChange': 0.31593728,
 'lastDividendValue': 0.410037,
 'lastDividendDate': 1710201600,
 'exchange': 'SAO',
 'quoteType': 'EQUITY',
 'symbol': 'BBAS3.SA',
 'underlyingSymbol': 'BBAS3.SA',
 'shortName': 'BRASIL      ON  EJ  NM',
 'longName': 'Banco do Brasil S.A.',
 'firstTradeDateEpochUtc': 946900800,
 'timeZoneFullName': 'America/Sao_Paulo',
 'timeZoneShortName': 'BRT',
 'uuid': 'a7840cde-81bb-30bc-b4bc-a3b2546ff1dc',
 'messageBoardId': 'finmb_874155',
 'gmtOffSetMilliseconds': -10800000,
 'currentPrice': 55.41,
 'targetHighPrice': 90.0,
 'targetLowPrice': 40.0,
 'targetMeanPrice': 68.93,
 'targetMedianPrice': 68.5,
 'recommendationMean': 1.8,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 16,
 'totalCash': 463658942464,
 'totalCashPerShare': 162.472,
 'totalDebt': 918118203392,
 'totalRevenue': 108252659712,
 'revenuePerShare': 37.93,
 'returnOnAssets': 0.01594,
 'returnOnEquity': 0.19678,
 'operatingCashflow': -43939971072,
 'earningsGrowth': -0.076,
 'revenueGrowth': -0.021,
 'operatingMargins': 0.13977,
 'financialCurrency': 'BRL',
 'trailingPegRatio': None}

In [20]:
bbas.splits

Date
2007-06-04 00:00:00-03:00    3.0
Name: Stock Splits, dtype: float64

In [21]:
bbas.actions

                           Dividends  Stock Splits
Date
2007-06-04 00:00:00-03:00   0.000000           3.0
2009-06-23 00:00:00-03:00   0.180221           0.0
2009-08-14 00:00:00-03:00   0.190873           0.0
2009-09-22 00:00:00-03:00   0.185397           0.0
2009-11-13 00:00:00-02:00   0.122897           0.0
...                              ...           ...
2023-09-12 00:00:00-03:00   0.334197           0.0
2023-11-22 00:00:00-03:00   0.101989           0.0
2023-12-12 00:00:00-03:00   0.342306           0.0
2024-02-22 00:00:00-03:00   0.224176           0.0
2024-03-12 00:00:00-03:00   0.410037           0.0

[118 rows x 2 columns]

In [22]:
bbas.info['dividendRate']

1.66

In [23]:
bbas.info['marketCap']

158130716672

In [26]:
bbas.major_holders

Breakdown                         Value
insidersPercentHeld             0.50000
institutionsPercentHeld         0.20316
institutionsFloatPercentHeld    0.40632
institutionsCount             513.00000

In [28]:
bbas.institutional_holders

Empty DataFrame
Columns: []
Index: []

In [32]:
data_portfolio.head()

Ticker,ABCB4.SA,ALUP11.SA,BBAS3.SA,ITSA4.SA,KLBN3.SA,RAIZ4.SA,TAEE4.SA,TRPL4.SA
Date,,,,,,,,
2023-01-02,16.909447,25.005009,30.360826,7.165168,3.747851,3.305155,10.526805,20.867277
2023-01-03,16.236345,24.689741,29.794867,6.985182,3.766451,3.118423,10.309384,20.363457
2023-01-04,16.290920,24.194326,30.178261,7.045177,3.812950,3.099750,10.318444,20.381777
2023-01-05,17.218712,24.608673,31.556643,7.148027,3.822250,3.015720,10.309384,20.253532
2023-01-06,17.264191,24.320433,31.994801,7.268018,3.785051,3.006384,10.735168,20.006203

In [33]:
port_retorno = np.log(data_portfolio / data_portfolio.shift(1))

In [34]:
port_retorno

Ticker,ABCB4.SA,ALUP11.SA,BBAS3.SA,ITSA4.SA,KLBN3.SA,RAIZ4.SA,TAEE4.SA,TRPL4.SA
Date,,,,,,,,
2023-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-01-03,-0.040620,-0.012688,-0.018817,-0.025440,0.004951,-0.058156,-0.020870,-0.024440
2023-01-04,0.003356,-0.020270,0.012786,0.008552,0.012270,-0.006006,0.000878,0.000899
2023-01-05,0.055389,0.016981,0.044662,0.014493,0.002436,-0.027483,-0.000878,-0.006312
2023-01-06,0.002638,-0.011782,0.013789,0.016647,-0.009780,-0.003101,0.040470,-0.012287
...,...,...,...,...,...,...,...,...
2023-12-21,0.003370,-0.003938,0.001475,0.007952,0.011455,0.020623,0.003208,0.003940
2023-12-22,0.003777,0.005248,0.002759,0.014742,0.004805,0.041318,0.004792,0.006272
2023-12-26,0.010004,0.003266,0.009143,0.002923,0.004556,-0.014389,0.003182,-0.001173
2023-12-27,0.011547,0.006176,-0.001457,0.007752,0.002270,-0.019513,0.003172,0.020907
2023-12-28,0.026301,0.020844,0.009615,0.000965,0.002265,-0.007417,0.015711,0.015209

# ABCB4

media do retorno

In [35]:
port_retorno['ABCB4.SA'].mean()

0.0014352421403261786

media anual de retorno

In [37]:
port_retorno['ABCB4.SA'].mean() * 250

0.35881053508154465

desvio padrao

In [39]:
port_retorno['ABCB4.SA'].std()

0.01768834399731547

variancia ?????

In [40]:
port_retorno['ABCB4.SA'].std() * 250 ** 0.5

0.2796772753404208

In [45]:
port_retorno[['ITSA4.SA', 'TAEE4.SA', 'BBAS3.SA', 'TRPL4.SA', 'ABCB4.SA', 'RAIZ4.SA', 'ALUP11.SA', 'KLBN3.SA']].mean() * 250

Ticker
ITSA4.SA     0.336446
TAEE4.SA     0.182750
BBAS3.SA     0.597446
TRPL4.SA     0.241865
ABCB4.SA     0.358811
RAIZ4.SA     0.196014
ALUP11.SA    0.234037
KLBN3.SA     0.158735
dtype: float64

In [44]:
port_retorno[['ITSA4.SA', 'TAEE4.SA', 'BBAS3.SA', 'TRPL4.SA', 'ABCB4.SA', 'RAIZ4.SA', 'ALUP11.SA', 'KLBN3.SA']].std() * 250 ** 0.5

Ticker
ITSA4.SA     0.211663
TAEE4.SA     0.138553
BBAS3.SA     0.239124
TRPL4.SA     0.206297
ABCB4.SA     0.279677
RAIZ4.SA     0.428101
ALUP11.SA    0.186689
KLBN3.SA     0.243288
dtype: float64

covariância e correlação

In [46]:
cov_matrix = port_retorno.cov()
cov_matrix

Ticker,ABCB4.SA,ALUP11.SA,BBAS3.SA,ITSA4.SA,KLBN3.SA,RAIZ4.SA,TAEE4.SA,TRPL4.SA
Ticker,,,,,,,,
ABCB4.SA,0.000313,0.000077,0.000118,0.000126,0.000054,0.000155,0.000041,0.000077
ALUP11.SA,0.000077,0.000139,0.000040,0.000059,0.000021,0.000083,0.000042,0.000076
BBAS3.SA,0.000118,0.000040,0.000229,0.000122,0.000035,0.000098,0.000039,0.000051
ITSA4.SA,0.000126,0.000059,0.000122,0.000179,0.000027,0.000163,0.000048,0.000067
KLBN3.SA,0.000054,0.000021,0.000035,0.000027,0.000237,0.000003,0.000016,0.000026
RAIZ4.SA,0.000155,0.000083,0.000098,0.000163,0.000003,0.000733,0.000059,0.000077
TAEE4.SA,0.000041,0.000042,0.000039,0.000048,0.000016,0.000059,0.000077,0.000043
TRPL4.SA,0.000077,0.000076,0.000051,0.000067,0.000026,0.000077,0.000043,0.000170

anual

In [48]:
cov_matrix_a = port_retorno.cov() * 250
cov_matrix_a

Ticker,ABCB4.SA,ALUP11.SA,BBAS3.SA,ITSA4.SA,KLBN3.SA,RAIZ4.SA,TAEE4.SA,TRPL4.SA
Ticker,,,,,,,,
ABCB4.SA,0.078219,0.019240,0.029613,0.031534,0.013546,0.038782,0.010270,0.019184
ALUP11.SA,0.019240,0.034853,0.010007,0.014643,0.005255,0.020735,0.010446,0.019086
BBAS3.SA,0.029613,0.010007,0.057180,0.030394,0.008750,0.024606,0.009796,0.012820
ITSA4.SA,0.031534,0.014643,0.030394,0.044801,0.006831,0.040670,0.011932,0.016671
KLBN3.SA,0.013546,0.005255,0.008750,0.006831,0.059189,0.000820,0.004054,0.006376
RAIZ4.SA,0.038782,0.020735,0.024606,0.040670,0.000820,0.183270,0.014776,0.019175
TAEE4.SA,0.010270,0.010446,0.009796,0.011932,0.004054,0.014776,0.019197,0.010818
TRPL4.SA,0.019184,0.019086,0.012820,0.016671,0.006376,0.019175,0.010818,0.042558

In [49]:
corr_matrix = port_retorno.corr()
corr_matrix

Ticker,ABCB4.SA,ALUP11.SA,BBAS3.SA,ITSA4.SA,KLBN3.SA,RAIZ4.SA,TAEE4.SA,TRPL4.SA
Ticker,,,,,,,,
ABCB4.SA,1.000000,0.368488,0.442795,0.532702,0.199082,0.323910,0.265029,0.332496
ALUP11.SA,0.368488,1.000000,0.224156,0.370566,0.115696,0.259438,0.403849,0.495557
BBAS3.SA,0.442795,0.224156,1.000000,0.600502,0.150405,0.240368,0.295678,0.259885
ITSA4.SA,0.532702,0.370566,0.600502,1.000000,0.132646,0.448837,0.406851,0.381795
KLBN3.SA,0.199082,0.115696,0.150405,0.132646,1.000000,0.007871,0.120258,0.127030
RAIZ4.SA,0.323910,0.259438,0.240368,0.448837,0.007871,1.000000,0.249108,0.217116
TAEE4.SA,0.265029,0.403849,0.295678,0.406851,0.120258,0.249108,1.000000,0.378467
TRPL4.SA,0.332496,0.495557,0.259885,0.381795,0.127030,0.217116,0.378467,1.000000

calculando o risco do meu portifolio

esquema de ponderação igual (porcentagem dos ativo na carteira)

In [69]:
weights = np.array([0.125, 0.125, 0.125, 0.125, 0.125, 0.125, 0.125, 0.125])

variâcia do portifolio

In [70]:
port_var = np.dot(weights.T, np.dot(port_retorno.cov() * 250, weights))
port_var

0.02251440649805498

volatilidade do portifolio

In [71]:
port_vol = np.dot(weights.T, np.dot(port_retorno.cov() * 250, weights)) ** 0.5
port_vol

0.15004801397571038

In [72]:
print(str(round(port_vol, 5) * 100) + '%')

15.004999999999999%