## Calculating the Beta of a Stock

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Obtain data for Microsoft and S&P 500 for the period 1st of January 2012 – 31st of December 2016 from Yahoo Finance.

In [7]:
import pandas as pd
import numpy as np
import yfinance as yf

yf.pdr_override()

In [20]:
tickers = ['MSFT', '^GSPC']


data = yf.download(tickers, start='2012-01-01', end='2016-12-31')['Adj Close']

data

[*********************100%%**********************]  2 of 2 completed

Ticker           MSFT        ^GSPC
Date
2012-01-03  21.200514  1277.060059
2012-01-04  21.699432  1277.300049
2012-01-05  21.921190  1281.060059
2012-01-06  22.261726  1277.810059
2012-01-09  21.968706  1280.699951
...               ...          ...
2016-12-23  57.530994  2263.790039
2016-12-27  57.567371  2268.879883
2016-12-28  57.303562  2249.919922
2016-12-29  57.221691  2249.260010
2016-12-30  56.530289  2238.830078

[1258 rows x 2 columns]

Let S&P 500 act as the market.

*****

Calculate the beta of Microsoft.

In [21]:
sec_returns = np.log(data / data.shift(1))
sec_returns

Ticker          MSFT     ^GSPC
Date
2012-01-03       NaN       NaN
2012-01-04  0.023261  0.000188
2012-01-05  0.010168  0.002939
2012-01-06  0.015415 -0.002540
2012-01-09 -0.013250  0.002259
...              ...       ...
2016-12-23 -0.004890  0.001251
2016-12-27  0.000632  0.002246
2016-12-28 -0.004593 -0.008392
2016-12-29 -0.001430 -0.000293
2016-12-30 -0.012156 -0.004648

[1258 rows x 2 columns]

In [22]:
cov = sec_returns.cov() * 250
cov

Ticker      MSFT     ^GSPC
Ticker
MSFT    0.053781  0.018213
^GSPC   0.018213  0.016362

In [23]:
cov_with_market = cov.iloc[0, 1]
cov_with_market

0.0182127844382661

In [24]:
market_var = sec_returns['^GSPC'].var() * 250
market_var

0.01636163100230847

** Beta: **
### $$ 
\beta_{pg} = \frac{\sigma_{pg,m}}{\sigma_{m}^2}
$$

In [26]:
MSFT_BETA = cov_with_market / market_var

MSFT_BETA

1.1131399085883582